services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: maham123
      MYSQL_DATABASE: healthify
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pmaham123"]
      timeout: 10s
      retries: 10
      start_period: 30s

  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "3001:3001"       
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: maham123
      DB_NAME: healthify
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/health"]
      timeout: 10s
      retries: 10
      start_period: 30s

  frontend:
    build: ./frontend
    container_name: frontend_app
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_healthy

volumes:
  mysql_data:
